/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp MINUS
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp Z &kp LSHFT &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &mo 1 &kp SPACE   &kp SPACE &kp SPACE &kp RET
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp ESC    &td0       &td1       &td2       &td3       &td4         &td5   &td6   &td7 &kp N9    &kp N0 &kp EQUAL
   &none &none &kp LEFT &kp UP &kp RIGHT &none   &none &kp LPAR &kp RPAR &kp RIGHT &none &none
   &kp LSHFT  &kp LSHFT       &none       &kp DOWN       &none       &none         &kp LBKT   &kp RBKT   &kp LBRC &kp RBRC    &kp BSLH &none
                                    &kp LGUI     &none       &kp SPACE      &mo 2  &kp BSPC   &kp RET
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &none   &none &none   &none   &none      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &none   &none &none   &none   &none      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &none   &kp SPACE   &kp RET   &none    &kp RALT
                        >;
                };
        };
};

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp EXCL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td0
            >;
        };
    };
};
/ {
    behaviors {
        td1: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp AT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td1
            >;
        };
    };
};
/ {
    behaviors {
        td2: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp HASH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td2
            >;
        };
    };
};
/ {
    behaviors {
        td3: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp DLLR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td3
            >;
        };
    };
};
/ {
    behaviors {
        td4: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp PRCNT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td4
            >;
        };
    };
};
/ {
    behaviors {
        td5: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp CARET>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td5
            >;
        };
    };
};
/ {
    behaviors {
        td6: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp AMPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td6
            >;
        };
    };
};
/ {
    behaviors {
        td7: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N1>, <&kp STAR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            bindings = <
                &td7
            >;
        };
    };
};
